<%- include("partials/header"); %>

<% if (locals.pageCheck === "Home") { %>
  <div id="main-content" class="container row flex-lg-row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <% if (locals.animeImage) { %>
        <img id="main-image" class="anime-img" src="<%= animeImage %>" alt="anime image">
      <% } %>
    </div>
    <div class="col-lg-6">
      <h1>
        <% if (locals.animeName) { %>
          <%= animeName %>
        <% } %>
      </h1>
      <div id="anime-description">
        <p class="mt-3 mb-3">
          <% if (locals.animeDescription) { %>
            <%= animeDescription %>
          <% } %>
        </p>
      </div>
      <div class="pb-3 d-flex justify-content-center">
        <% if (locals.animeLink) {%>
          <a href="<%= animeLink %>" target="_blank">Information Link</a>
        <% } %>
      </div>
      <div class="pb-3">
        <div class="mt-3 d-flex justify-content-center">
          <form action="/submit" method="POST">
            <input type="text" name="category" placeholder="Category/Genre">
            <input type="submit" value="Search">
          </form>
        </div>
        <div class="mt-3 d-flex justify-content-center">
          <form action="/random" method="GET">
            <input type="submit" value="Randomize">
          </form>
        </div>
      </div>
      <div class="ul-container">
        <% if (locals.categoryFullList) { %>
          <ul class="text-center list-group">
            <% for (let i = 0; i < categoryFullList.length; i++) { %>
              <li class="list-group-item"><%= categoryFullList[i] %></li>
            <% } %>
          </ul>
        <% } %>
      </div>
    </div>
  </div>
<% } %>

<% if (locals.pageCheck === "Login") { %>
  <%- include("login") %>
<% }; %>

<%- include("partials/footer") %>